# OS files
.DS_Store
Thumbs.db

# Editor files
.vscode/
.idea/
*.swp
*.swo
*~

# Temporary files
*.tmp
*.bak
__pycache__/
*.py[cod]

data/
meta/

explorer-test.html
explorer-v1.html

figures/
RR_measure.pdf
